.koupper-observability.jsonl
koupper/
koupper-cli/
koupper-docs/
koupper-vscode/
koupper_mixed_backup_*/
koupper-cli_mixed_backup_*/

.env
META-INF/

bin/
**/bin/
gradle/
gradlew
gradlew.bat
fb_session/
examples/fb_session/
